# Avocado Price Prediction

In [1]:
# Import packages for the predictions
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('avocado.csv', index_col='Date') # df stand for dataframe.
# Also it is a common convention to call this df
# .head() is used first five rows
df.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [3]:
df.drop(labels=['Unnamed: 0'],axis=1)

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,
2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [4]:
df.rename(columns={
    'Date':'Date',
    'AveragePrice':'Average_Price',
    'Total Volume':'Total_Volume',
    '4046':'PLU_4046_sold',
    '4225':'PLU_4225_sold',
    '4770':'PLU_4770_sold',
    'Total Bags':'Total_Bags',
    'Small Bags':'Small_Bags',
    'Large Bags':'Large_Bags',
    'XLarge Bags':'XLarge_Bags',
    'type':'Type',
    'year':'Year',
    'region':'Region',
})

,Unnamed: 0,Average_Price,Total_Volume,PLU_4046_sold,PLU_4225_sold,PLU_4770_sold,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,Type,Year,Region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [6]:
# .tail() is used last five rows
df.tail()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2018-02-04,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [7]:
# Shows the first five rows of AveragePrice column in df
# df.AveragePrice.head() also shows same value
df['Average_Price'].head()

KeyError: 'Average_Price'

In [8]:
df['Region'].unique()

KeyError: 'Region'

In [11]:
df.dtypes

Unnamed: 0        int64
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [13]:
Region =df["region"].unique().tolist()
Region

['Albany',
 'Atlanta',
 'BaltimoreWashington',
 'Boise',
 'Boston',
 'BuffaloRochester',
 'California',
 'Charlotte',
 'Chicago',
 'CincinnatiDayton',
 'Columbus',
 'DallasFtWorth',
 'Denver',
 'Detroit',
 'GrandRapids',
 'GreatLakes',
 'HarrisburgScranton',
 'HartfordSpringfield',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'LasVegas',
 'LosAngeles',
 'Louisville',
 'MiamiFtLauderdale',
 'Midsouth',
 'Nashville',
 'NewOrleansMobile',
 'NewYork',
 'Northeast',
 'NorthernNewEngland',
 'Orlando',
 'Philadelphia',
 'PhoenixTucson',
 'Pittsburgh',
 'Plains',
 'Portland',
 'RaleighGreensboro',
 'RichmondNorfolk',
 'Roanoke',
 'Sacramento',
 'SanDiego',
 'SanFrancisco',
 'Seattle',
 'SouthCarolina',
 'SouthCentral',
 'Southeast',
 'Spokane',
 'StLouis',
 'Syracuse',
 'Tampa',
 'TotalUS',
 'West',
 'WestTexNewMexico']

In [15]:
def Plot_Time_Series(x):
    x=df[[]]
    plt.figure(figsize=(8,8))
    x['Average_Price'].plot()
    plt.title(x)
    plt.xlabel('Date')
    plt.ylabel('Average Price')
    plt.show()

In [16]:
# Albany
x=Region[0]
Plot_Time_Series(x)

TypeError: string indices must be integers

In [ ]:
x=Region[1]
Plot_Time_Series(x)

In [ ]:
x=Region[2]
Plot_Time_Series(x)

In [ ]:
x=Region[3]
Plot_Time_Series(x)

In [ ]:
x=Region[4]
Plot_Time_Series(x)

In [ ]:
x=Region[5]
Plot_Time_Series(x)

In [ ]:
x=Region[6]
Plot_Time_Series(x)

In [ ]:
x=Region[7]
Plot_Time_Series(x)

In [ ]:
x=Region[8]
Plot_Time_Series(x)

In [ ]:
x=Region[9]
Plot_Time_Series(x)

In [ ]:
x=Region[10]
Plot_Time_Series(x)

In [ ]:
x=Region[11]
Plot_Time_Series(x)

In [ ]:
x=Region[12]
Plot_Time_Series(x)

In [ ]:
x=Region[13]
Plot_Time_Series(x)

In [ ]:
x=Region[14]
Plot_Time_Series(x)

In [ ]:
x=Region[15]
Plot_Time_Series(x)

In [ ]:
x=Region[16]
Plot_Time_Series(x)

In [ ]:
x=Region[17]
Plot_Time_Series(x)

In [ ]:
x=Region[18]
Plot_Time_Series(x)

In [ ]:
x=Region[19]
Plot_Time_Series(x)

In [ ]:
x=Region[20]
Plot_Time_Series(x)

In [ ]:
x=Region[21]
Plot_Time_Series(x)

In [ ]:
x=Region[22]
Plot_Time_Series(x)

In [ ]:
x=Region[23]
Plot_Time_Series(x)

In [ ]:
x=Region[24]
Plot_Time_Series(x)

In [ ]:
x=Region[25]
Plot_Time_Series(x)

In [ ]:
x=Region[26]
Plot_Time_Series(x)

In [ ]:
x=Region[27]
Plot_Time_Series(x)

In [ ]:
x=Region[28]
Plot_Time_Series(x)

In [ ]:
x=Region[29]
Plot_Time_Series(x)

In [ ]:
x=Region[30]
Plot_Time_Series(x)